--no-index
--find-links vendor-dev/

beautifulsoup4==4.5.1
coverage==5.1
flake8==3.0.4
mccabe==0.5.2
py==1.4.31
pycodestyle==2.0.0
pyflakes==1.2.3
pytest==3.0.3
pytest-cov==2.4.0
waitress==1.0.0
WebOb==1.6.1
WebTest==2.0.23
